
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 12px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00bcd4;
}


.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-bar input {
  padding: 8px;
  width: 60%;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  background: #00bcd4;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0097a7;
  color: #fff;
}

/* Nav Links */
.nav-links {
  text-decoration: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* Hero */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: #222;
}

/* Category Grid */
.categories {
  padding: 30px;
  text-align: center;
}
.category-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-left: 125px;
  margin-right: 125px;
}
.card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  width: 150px;
  transition: 0.3s;
}
.card:hover {
  background: #00bcd4;
  color: #000;
}


.product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 25px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .product-card {
      background: #1e1e1e;
      padding: 20px;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.6);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
    }

    .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.8);
    }

    .product-card img {
      width: 100%;
      max-height: 160px;
      object-fit: contain;
      margin-bottom: 15px;
    }

    .product-card h3 {
      font-size: 18px;
      margin-bottom: 8px;
      color: #00bcd4;
    }

    .product-card p {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 12px;
      color: #eaeaea;
    }

    .product-card button {
      padding: 10px 16px;
      background: #00bcd4;
      color: #121212;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s ease;
    }

    .product-card button:hover {
      background: #5aafbc;
    }
.form-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: #2a2a2a;
  border-radius: 10px;
  text-align: center;
}
.form-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}
.form-container button {
  background: #00bcd4;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.form-container button:hover {
  background: #0097a7;
  color: #fff;
}


footer {
  text-align: center;
  padding: 15px;
  background: #1e1e1e;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .search-bar {
    margin: 10px 0;
    width: 100%;
  }

  .search-bar input {
    width: 70%;
  }

  .nav-links {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-grid {
    flex-direction: column;
    align-items: center;
  }
}

h2{
text-align: center;
}
